% rebase('osnova.html')


<div class="mx-3 mb-3">
  <!--GLAVNI (čez celo stran)-->
  <div class="view position-relative overflow-hidden text-center my-3 slika" style="background-image: url('https://www.maxpixel.net/static/photo/1x/Aged-Boat-Shipwreck-Wreck-Rusty-Ship-Clouds-Sea-4059620.jpg');">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-3 font-weight-normal text-white">Potapljanje ladjic</h1>

      <!-- Gumb za vstop v igro-->
      <form action="/nova_igra/" method="POST">
          <button class="btn btn-dark p-3 m-1" type="submit" name="offline">Vstop v igro</button>
          <button class="btn btn-light p-3 m-1" type="submit" name="nastavitve">Nastavitve</button>
      </form>
      
    </div>
  </div>

  <!--POLJE NAVODILA-->
  <div class="d-md-flex flex-md-equal">
    <div class="pt-3 px-3 mr-3 text-center text-white overflow-hidden slika" style="background-image: url('https://p0.pikist.com/photos/5/906/vintage-helm-sextant-sailing-ships-map-anchor-nautical-antique-navigation.jpg'); opacity:0.85;">
      <div class="my-3 py-3">
        <h2 class="display-5">NAVODILA ZA IGRANJE</h2>
        <p class="lead">S klikom na spodnjo povezavo se lahko premaknete na stran, kjer si preberete podrobna navodila za igranje.</p>
      </div>

      <a class="btn btn-light my-3" href="/navodila/" role="button">Preberi navodila</a>
    </div>

    <!--POLJE O PROJEKTU-->
    <div class="pt-3 px-3 text-white text-center overflow-hidden slika" style="background-image: url('https://bevkperovic.si/pictures/01_KAM0303.jpg'); opacity:0.85;">
      <div class="my-3 p-3">
        <h2 class="display-5">O PROJEKTU</h2>
        <p class="lead">Projekt je bil narejen v okviru predmeta Uvod v programiranje na Fakulteti za matematiko in fiziko.</p>
      </div>
      
    </div>
  </div>
</div>





