%rebase('osnova.html')


<div class="p-5 mx-3 my-4 text-center bg-light border border-secondary rounded">
    <h1 class="display-4 font-weight-normal">Navodila za igranje</h1>
        <div class="text-justify">
            <p class="lead font-weight-normal" >
                <p>Potapljanje ladjic je igra za dva igralca. 
                Vsak igralec najprej postavi ladjice v polje, nato pa sledi streljanje nasprotnikovih ladjic. 
                Cilj igre je, da sestreliš vse nasprotnikove ladjice. Ko enemu izmed igralcev to uspe, se igra konča.</p> 
                <h5 class="text-center">Postavljanje ladjic</h5>
                Preden se igra začne, morata oba igralca razvrstiti svoje ladjice v polje. 
                Vsak ima dve ladjici dolžine 2 in eno ladjico dolžine 3, te nastavitve pa lahko spremeniš s klikom na gumb 'nastavitve'.
                Nato klikneš gumb 'vstop v igro'. 
                Ladjice predstavljajo črno obarvana mesta. 
                Ladjice lahko v polje postaviš v vodoravni ali navpični legi. 
                Privzeta lega je vodoravna. 
                Vsakič, ko želiš spremeniti lego ladjic, ki jih postavljaš, pritisni gumb 'spremeni postavitev naslednje ladjice'.
                Vodoravne ladjice postaviš s klikom na mesto, kjer želiš da stoji najbolj levi del ladjice, 
                navpične pa s klikom na mesto, kjer želiš da stoji najzgornejši del ladjice.
                Dve ladjici se nikoli ne smeta stikati ali prekrivati, torej morajo biti mesta neposredno ob ladjici prosta. 
                Pazi, da bo tam kamor želiš postaviti ladjico na voljo dovolj prostih mest, 
                v nasprotnem primeru ladjica ne bo postavljena. 
                Ko oba igralca postavita ladjice, se igra lahko prične. </p>
                <h5 class="text-center">Igranje igre</h5>
                Vsakič, ko si na vrsti, s klikom na izbrano mesto streljaš v nasprotnikovo polje. 
                Če to mesto pripada neki ladjici, je ladjica zadeta. 
                Ko zadeneš vsa mesta, kjer stoji ladjica, je ladjica potopljena. 
                Če si zadel ali potopil nasprotnikovo ladjico, se ti bo to izpisalo na zaslonu. 
                Igra se konča, ko eden od igralcev potopi vse nasprotnikove ladjice. 
                </p>
        </div>
</div>


