%rebase('osnova.html')

TUKAJ NEVEM ZAKAJ NE REBASA LEPO ORODNE VRSTICE??


<div class="position-relative overflow-hidden p-5 m-5 text-center bg-light">
      <div class="my-2 px-3">
        <h1 class="display-4 font-weight-normal">Navodila za igranje</h1>
            <div class="text-justify">
                <p class="lead font-weight-normal" >
                    <p>Potapljanje ladjic je igra za dva igralca. 
                    Vsak igralec najprej postavi ladjice v polje, nato pa sledi streljanje nasprotnikovih ladjic. 
                    Cilj igre je, da sestreliš vse nasprotnikove ladjice. Ko enemu izmed igralcev to uspe, se igra konča.</p> 

                    <h5 class="text-center">Postavljanje ladjic</h5>
                    Preden se igra začne, morata oba igralca razvrstiti svoje ladjice v polje. 
                    Ladjice predstavljajo <!-- barva --> obarvana mesta. 
                    Ladjice lahko v polje postaviš v vodoravni ali navpični legi. 
                    Privzeta lega je vodoravna. 
                    Vsakič, ko želiš spremeniti lego ladjic, ki jih postavljaš, pritisni gumb 'spremeni postavitev'.
                    Vodoravne ladjice postaviš s klikom na mesto, kjer želiš da stoji najbolj levi del ladjice, 
                    navpične pa s klikom na mesto, kjer želiš da stoji najzgornejši del ladjice.
                    Dve ladjici se nikoli ne smeta stikati ali prekrivati, torej morajo biti mesta neposredno ob ladjici prosta. 
                    Pazi, da bo tam kamor želiš postaviti ladjico na voljo dovolj prostih mest, 
                    v nasprotnem primeru ladjica ne bo postavljena. 
                    Ko oba igralca postavita ladjice, se igra lahko prične. </p>

                    <h5 class="text-center">Igranje igre</h5>
                    Vsakič, ko si na vrsti, s klikom na izbrano mesto streljaš v nasprotnikovo polje. 
                    Če to mesto pripada neki ladjici, je ladjica zadeta. 
                    Ko zadeneš vsa mesta, kjer stoji ladjica, je ladjica potopljena. 
                    Če si zadel ali potopil nasprotnikovo ladjico, se ti bo to izpisalo na zaslonu. 
                    <!-- preveri da je res vse tko kot piše v navodilih -->
                    Igra se konča, ko eden od igralcev potopi vse nasprotnikove ladjice. 
                    </p>
      </div>
      </div>
</div>


