<!DOCTYPE html>
<html lang="sl">
    <head>
        <title>Potapljanje ladjic</title>
        <meta charset="utf-8" />
        <link rel="stylesheet"  href="style.css"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <meta name="description" content="spletna igra potapljanja ladjic">
        <meta name="keywords" content="ladjice, potapljanje">
        <meta name="author" content="Špela Plevel">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- Orodna vrstica  -->
        <div class="orodna_vrstica">
            <a class="active" href="/"><b>Domov</b></a>
            <a class="active" href="/navodila/"><b>Navodila igre</b></a>
        </div>

        {{!base}}

    </body>
</html>
