<!DOCTYPE html>
<html lang="sl">
    <head>
        <title>Ladice potaplatsadfdf</title>
        <meta charset="utf-8" />
        <link rel="stylesheet"  href="{{ get_url('static', filename='style.css') }}"/>
        <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <meta name="description" content="spletna igra potapljanja ladjic">
        <meta name="keywords" content="ladjice, potapljanje, ekstremni športi">
        <meta name="author" content="Špela Plevel">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
                <!-- Orodna vrstica  -->
        <div class="orodna_vrstica">
            <a class="active" href="/domov/"><b>Domov</b></a>
            <a href="/kolofon/">O projektu</a>
            <a href="/navodila/">Navodila</a>
        </div>

        {{!base}}


    </body>
</html>