% rebase('osnova.html')

<div class="position-relative overflow-hidden p-5 m-5 text-center bg-light">
    <div class="my-2 px-3">
        <h3>Postavite ladjice v skladu z navodili. </h3>

        <form action="/postavi_offline/", method="POST" style="text-align: center;">
            <table class='igralna_plosca' style="margin-left: auto; margin-right: auto;">
                % for i in range(10):
                    <tr>
                        % for j in range(10):
                            <td>
                            % if igra.polje[na_vrsti][i][j] == -2:
                                <button class="gumb" style="background-color: rgb(216, 179, 179);"
                                
                            % elif igra.polje[na_vrsti][i][j] >= 0:
                                <button style="background-color: black;"
                                
                            % else:
                                <button
                                
                            % end
                            type="submit", name="{{str(i) + '_' + str(j)  }}">{{str(i) + '_' + str(j)}}</button>
                        </td>
                        % end
                    </tr>
                % end
            </table>

            <br>

            <table class="postavitev_ladjic">
                <tr>
                    <td>
                        Trenunto ladjice postavljamo {{'navpično' if igra.trenutna_postavitev else 'vodoravno'}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-primary" name="spremeni_postavitev">Spremeni postavitev naslednje ladjice</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        % if igra.indeks_trenutne_ladjice >= 0:
                            <button type="submit" class="btn btn-primary" name="nasledni_igralec" disabled>Postaviti moraš še {{str(len(igra.ladjice[0]) - igra.indeks_trenutne_ladjice) + ' ladjic'}}</button>
                       %else :
                       <button type="submit" class="btn btn-primary" name="naslednji_igralec" >Naslednji igralec</button>
                        % end
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>