% rebase('osnova.html')

Postavite ladice pa ne bit invalidi pls 
<form action="/postavi_offline/", method="POST">
<table class='igralna_plosca'>
    % for i in range(10):
        <tr>
            % for j in range(10):
            
                % if igra.polje[na_vrsti][i][j] == -2:
                 <td style="background-color: red;">
                    <button style="background-color: red;"
                     
                 
                % elif igra.polje[na_vrsti][i][j] >= 0:
                 <td style="background-color: rgb(0, 0, 0);">
                    <button style="background-color: black;"
                     
                 
                % else:
                 <td>
                    <button
                     
                 
                % end
                type="submit", name="{{str(i) + '_' + str(j)  }}">{{str(i) + '_' + str(j)}}</button>
            </td>
            % end
        </tr>
    % end
</table>

<br>

    <table class="postavitev_ladjic">
        <tr>
            <td>
                <button type="submit", name="spremeni_postavitev">Spremeni postavitev</button>
            </td>
        </tr>
    </table>

</form>

<br>